body{
    background-color: black;
}
header{
    background-color: ;
    height: 150px;
    margin-bottom: 0px;
    background-image: url(header.jpg);
    background-repeat: no-repeat; 
}
#wrapper{
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
    max-width: 1200px;
    background-color: ;
    color: ;
}
#bookmarks{
    
}
nav{
   float: left 
}
nav a{
    background-color: ;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
}
h1{
    
}
h2{
    
}
h3{
    font-family: spookyFont;
}
@font-face{
    font-family: spookyFont;
    src: url(NightmarePills-BV2w.ttf);
}